* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  outline: 5px solid gray;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  .pawn {
    position: relative;
    left: -1px;  
  }
}

.black {
  background-color: #817161;
}

.white {
  background-color: #e7dacb;
}
